body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 960px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px;
}

.title {
  text-align: center;
  color: #333;
}

.user-card, .fine-card {
  padding: 20px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  margin-bottom: 20px;
 
}

.fine-card {
  padding: 20px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  margin-top: 10px;
 
}

.user-card h2, .fine-card h2 {
  margin: 0;
  color: #4CAF50;
}

.user-card p, .fine-card p {
  color: #555;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.report-card {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  text-align: center;

}

.report-card h3 {
  margin-bottom: 10px;
  color: #4CAF50;
}

.report-card p {
  margin: 5px 0;
  color: #666;
}

